@import "tailwindcss";

@theme inline {
  --color-primary: #0F766E;
  --color-primary-light: #14B8A6;
  --color-primary-dark: #134E4A;
  --color-primary-bg: #F0FDFA;
  --color-surface: #FFFFFF;
  --color-border: #E2E8F0;
  --color-text: #1E293B;
  --color-text-secondary: #64748B;
  --color-aqi-bon: #22C55E;
  --color-aqi-modere: #EAB308;
  --color-aqi-sensible: #F97316;
  --color-aqi-malsain: #EF4444;
  --color-aqi-tres-malsain: #8B5CF6;
  --color-aqi-dangereux: #881337;
  --color-blue-data: #3B82F6;
  --color-amber-alert: #F59E0B;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--color-primary-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}

/* Leaflet fix */
.leaflet-container {
  z-index: 0;
}
